# Dataset : trop lourd pour GitHub, a telecharger separement
cats_and_dogs_filtered/
*.zip
__MACOSX/

# Fichiers temporaires Jupyter / Python
.ipynb_checkpoints/
__pycache__/
*.pyc

# Environnements virtuels
venv/
.venv/
env/

# Systeme
.DS_Store
Thumbs.db
